<!-- wp:template-part {"slug":"header","theme":"wpblocks_theme"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:post-featured-image {"aspectRatio":"3/2","style":{"border":{"width":"0px","style":"none"}}} /-->

  <!-- wp:post-title /-->
  
  <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
  <div class="wp-block-group"><!-- wp:post-author-name {"isLink":true} /-->
  
  <!-- wp:post-date /--></div>
  <!-- /wp:group -->
  
  <!-- wp:post-content /-->
  
  <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","verticalAlignment":"center"}} -->
  <div class="wp-block-group"><!-- wp:post-terms {"term":"category"} /-->
  
  <!-- wp:post-terms {"term":"post_tag"} /--></div>
  <!-- /wp:group --></main>
  <!-- /wp:group -->
  
  <!-- wp:template-part {"slug":"footer","theme":"wpblocks_theme"} /-->